.card {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    font-weight: bold;
  }
  
  .btn-success {
    width: 150px;
  }

  .customBox {
    background-color: #00AAFF;
  }
  