// Brand colors
$primary-color: #007bff;
$secondary-color: #6c757d;

.background {
  background-color: #f8f9fa; // A light gray background, you can change this to any color you like
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.iconColor{
    background-color: var(--primary-color);
}

// Apply the animation
.title-animation {
    animation: fadeIn 2s ease-in-out;
    color: white; // Adjust as needed for contrast
  }

// Custom Box Shadow for input focus
$custom-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);

.card {
  border: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #fff; // Card with white background for contrast
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // A subtle shadow to lift the card from the background
}

.form-control:focus {
  box-shadow: $custom-shadow;
}

.invalid-feedback {
  display: none;
  &.d-block {
    display: block;
  }
}

.pro{
    color: #6c757d;
}

// Simple fade-in animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Apply the fade-in animation to the card for a subtle effect
.card {
  animation: fadeIn 1s ease-in-out;
}

@media (max-width: 768px) {
  .background {
    align-items: flex-start;
    padding-top: 20vh;
  }
}
