<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header customBox text-white">
          Signup to LicenseRecog
        </div>
        <div class="card-body">
          <form [formGroup]="signupForm" (submit)="onSignup()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" formControlName="username">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary w-100" [disabled]="!signupForm.valid">Signup</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
