<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header customBox text-white">
            Signup to LicenseRecog
          </div>
          <div class="card-body">
            <form (submit)="onSignup($event)">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="username">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="email">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password">
              </div>
              <button type="submit" class="btn btn-primary customColor w-100">Signup</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  